[Desktop Entry]
Type=Service
MimeType=video/mp4;
Actions=videoCompress
X-KDE-Priority=TopLevel

[Desktop Action videoCompress]
Name=Transcode video to HEVC
Name[zh_CN]=将视频转码至HEVC
Icon=browser-download
Exec=/bin/bash ~/.local/bin/vcompress_gui %f
